/* Heading CSS */
h1 {

}

h2 {

}

h3 {

}

h4 {

}

/* Paragraph CSS */

p {
    font-size: 16px;
}

/* List CSS */

/* NavBar CSS */

.navBar {
    width: 100%;
    height: 40px;
}

.navBar>li {
    display: inline-block;
}

/* Table CSS */

/* Input Form CSS */

/* Responsive Design Code */